@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  height: 100vh;
  scrollbar-color: yellow yellow;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 20px;
  height: 100%;
  background-color: #000;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  color: yellow;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

img {
  width: 100%;
  height: auto;
}

img:hover {
  transform: scale(1.1);
  transition: transform 0.25s ease-in-out;
}

#root {
  background-image: url("../img/fundo.png");
  background-image: -webkit-image-set(url("../img/fundo.webp") 1x);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: auto;
}

article > * {
  margin-bottom: 2.5rem;
}

.margem {
  padding: 2.5% 20%;
}

.header img {
  max-width: 450px;
}

.header,
#contato {
  text-align: center;
}

p {
  margin-top: 0.5rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#contato img {
  filter: invert(1);
  max-width: 64px;
}

#como_funciona {
  margin: 0 auto;
}

#como_funciona img {
  max-width: 350px;
}

@media (max-width: 768px) {
  #root {
    justify-content: flex-start;
    text-align: justify;
  }
  .margem {
    padding: 10%;
  }

  #como_funciona img {
    max-width: 100%;
  }
}
